.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover, 
.navbar-inverse .nav .active > a:focus {
	background: url(../img/highlighted.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 25px;
}

body {
	background:url(../img/bg.jpg) repeat-x;
}

img#image {
	position: center;
}